.login_page {
    height: 100vh;
    background: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_card {
    width: 100%;
    max-width: 380px;
    background: white;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 0 0 1px #e5e7eb;
    text-align: center;
}

.login_card h2 {
    font-size: 24px;
    font-weight: 700;
}

.login_card p {
    color: #6b7280;
    margin-bottom: 25px;
}

.form_group {
    text-align: left;
    margin-bottom: 16px;
}

.form_group label {
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
}

.form_group input {
    width: 100%;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #e5e7eb;
    outline: none;
}

.form_group input:focus {
    border-color: #f5b64c;
}

.login_button {
    width: 100%;
    margin-top: 10px;
    background: #f5b64c;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.login_footer {
    margin-top: 18px;
    font-size: 14px;
}

.login_footer a {
    color: #f5b64c;
    text-decoration: none;
}

.footer{
    text-align: center;
    color: #6b7280;
    padding-bottom: 4px;
    background: #fafafa;
}
